

{% extends 'base.html.twig' %}


{% block body %}
<h1>Home Page</h1>
    <p>

        Welcome to the Home Page

    </p>
    <p>
        Hello World
    </p>
    <a href="{{ url('product_index') }}">list of products</a>
    {% set colours = app.session.get('colours') %}
    {# default = blue #}
    {% if colours is null %}
        {% set colours = {
        'foreground': 'black',
        'background': 'while'
        }
        %}
    {% endif %}


{% endblock %}

